<h2 class="clearfix">
{{link-to 'New Event' 'events.new' class='btn btn-primary pull-right'}}
</h2>
{{ outlet }}
<div class="panel panel-custom">
  <div class="panel-heading heading-title">Events</div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class='grid-action-1'>#</th>
        <th>Name</th>
        <th>Breed</th>
        <th>Count</th>
        <th>Date</th>
        <th class='grid-action-2'></th>
      </tr>
    </thead>
    <tbody>
      {{#each}}
      <tr>
        <td> {{ plusone _view.contentIndex }}</td>
        <td>
          {{#link-to 'events.show' this}}
            {{ name }}
          {{/link-to}}
        </td>
        <td> {{ breed.name }} </td>
        <td> {{ count }}</td>
        <td> {{ date }}</td>
        <td>
          {{#link-to 'events.edit' this}}
            <span  class="glyphicon glyphicon-pencil"></span>
          {{/link-to}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>