<div class="panel panel-custom">
  <div class="panel-heading heading-title">
    {{ currentAction }}
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="form-group col-md-3 col-sm-3">
        <label>Name</label>
        {{
          view Ember.Select
          content=events
          value=name
          selection=selectedEvent
          class="form-control"          
        }}
      </div>
      <div class="form-group col-md-3 col-sm-3">
        <label>Animal / Breed</label>
        {{
          view Ember.Select
          contentBinding='breeds'
          valueBinding='selectedBreed'
          selectionBinding="defaultBreed"
          class="form-control"
          optionValuePath="content.id"
          optionLabelPath="content.name"
          prompt="Select a breed"
        }}
      </div>
      <div class="form-group col-md-3 col-sm-3">
        <label>Count</label>
        {{ input type='text' class="form-control" value=count }}
      </div>
      <div class="form-group col-md-3 col-sm-3">
        <label>Date </label>
        {{ input type='text' class="form-control" value=date }}
      </div>
  </div>
</div>
<div class="panel-footer">
  <a class='btn btn-success' {{action "create"}} > Save </a>
  <a href="/events" class='btn btn-default'> Cancel </a>
</div>
</div>